$item-max-width: 58.333rem;
$item-new-color: #FF8A65;
$badge-new-text: 'Nowe';

.icon {
	display: inline-block;
	&.clock {
		color: #000;
		position: absolute;
		top: 0.167rem;
		margin-left: 0.133rem;
		margin-top: 0.133rem;
		width: 1rem;
		height: 1rem;
		position: relative;
		border: solid 0.067rem currentColor;
		border-radius: 0.5rem;

		&:before {
			content: "";
			position: absolute;
			top: 0.467rem;
			left: 0.467rem;
			width: 0.333rem;
			height: 0.067rem;
			background-color: currentColor;
			-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
		}

		&:after {
			content: "";
			position: absolute;
			top: 0.133rem;
			left: 0.467rem;
			width: 0.067rem;
			height: 0.4rem;
			background-color: currentColor;
			-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
		}
	}

	&.heart {
		color: #000;
		position: relative;
		margin-top: 0.5rem;
		margin-left: 0.417rem;
		margin-right: 0.417rem;
		width: 0.75rem;
		height: 0.75rem;
		border-left: solid 0.083rem currentColor;
		border-bottom: solid 0.083rem currentColor;
		transform: rotate(-45deg);
		&:before {
			content: "";
			position: absolute;
			top: -0.417rem;
			left: -0.083rem;
			width: 0.667rem;
			height: 0.417rem;
			border-radius: 0.417rem 0.417rem 0 0;
			border-top: solid 0.083rem currentColor;
			border-left: solid 0.083rem currentColor;
			border-right: solid 0.083rem currentColor;
		}
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0.667rem;
			width: 0.417rem;
			height: 0.667rem;
			border-radius: 0 0.417rem 0.417rem 0;
			border-top: solid 0.083rem currentColor;
			border-right: solid 0.083rem currentColor;
			border-bottom: solid 0.083rem currentColor;
		}
	}
}
.instagram-item {
	font-size: inherit;
	max-width: $item-max-width;
	max-height: 90vh;
	border-radius: 0.25rem;
	border: 0.083rem solid #e6e6e6;
	box-sizing: border-box;
	background-color: #fff;
	&__header {
		padding: 1rem;
	}
	&__author {
		text-decoration: none;
		color: #333;
		&-image {
			width: 1.5rem;
			height: 1.5rem;
			float: left;
			margin-right: 0.833rem;
		}
		&-name {
			font-weight: 600;
			line-height: 1.5rem;
		}
	}
	&__figure {
		padding: 0;
		margin: 0;
		position: relative;
		height: calc(100% - 9.167rem);
		max-height: calc(90vh - 9.167rem); /* dirtyfix */
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		aspect-ratio: 1;
		&-image {
			max-width: 100%;
			max-height: 100%;
			display: block;
			margin: auto;
			flex-grow: 0;
			flex-shrink: 1;
			aspect-ratio: 1;
		}
		&-caption {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			padding: 1.25rem;
			background-color: rgba(0, 0, 0, 0.5);
			color: #fff;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
	&__footer {
		padding: 1rem;

		&-likes {
			display: inline-block;
			margin-right: 0.833rem;
		}
		&-date {
			display: inline-block;
		}
	}

	&--new {
		position: relative;
		border-color: lighten($item-new-color, 15%);
		box-shadow: 0 0 0.833rem 0 rgba($item-new-color, 0.5);
		&:before {
			content: $badge-new-text;
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			background-color: $item-new-color;
			color: #fff;
			padding: 0.833rem 1.25rem;
			border-bottom-left-radius: 0.833rem;
		}
	}
}

